@import
url("https://pages-themes.github.io/cayman/assets/css/style.css");
.page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 1.5rem 1rem;
}
.site-footer {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}
